.view-container {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    margin: 25px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
    border-radius: .375rem;
}
h2 {
    margin: 15px 0;
    font-size: 1.0625rem;
    padding-left: 15px;
}
button {
    padding: 5px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    background: #1833f1;
    cursor: pointer;
    color: #fff;
    font-size: 10px;
    box-shadow: none !important;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    thead tr {
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    tbody {
      tr {
        &:last-child {
          td {
            border-bottom:none;
          }
        }
      }
    }
    th {
        padding: 10px 15px;
        white-space: nowrap;
        text-align: left;
        text-transform: uppercase;
        border-top: 1px solid #e9ecef;
        border-bottom: 1px solid #e9ecef !important;
        color: #8898aa;
        vertical-align: middle;
        font-weight: 400;
        background-color: #f6f9fc;
    }
    td {
        padding: 10px 15px;
        white-space: nowrap;
        text-align: left;
        vertical-align: middle;
    }

}
