<h2>View User</h2>
<div class="view-container">
    <div class="">
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Qualification</th>
                    <th>Comments</th>
                    <th>Address</th>
                    <th>Location</th>
                    <th>Zip code</th>
                    <th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.qualification}}</td>
                    <td>{{user.comments}}</td>
                    <td>{{user.address1}},{{user.address2}}</td>
                    <td>{{user.city}}, {{user.state}}, {{user.country}}</td>
                    <td>{{user.zipCode}}</td>                 
                    <td><button class="btn btn-primary btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>